# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **sports or athletics** (see below) for the region of **Ann Arbor, Michigan, United States**, or **United States** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Ann Arbor, Michigan, United States** to Ann Arbor, USA. In that case at least one source file must be about **Ann Arbor, Michigan, United States**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairo’s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Ann Arbor, Michigan, United States** and **sports or athletics**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **sports or athletics**?  For this category we are interested in sporting events or athletics broadly, please feel free to creatively interpret the category when building your research question!

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


fb_df = pd.read_excel('football_seasons.xlsx')
h_df = pd.read_excel('hockey_seasons.xlsx',header=2, skipfooter=7)

# fb_df.head()
h_df = h_df.reset_index()
columns_to_drop = ['level_1', 'GP', "W", "L", "T", "3/SW", "Pts*", 'Finish', 'GP.1', 'W.1', 'L.1', 'T.1' , 'Unnamed: 12', 'Unnamed: 13']
h_df_years = h_df.drop(columns_to_drop, axis=1)
h_df_years = h_df_years.dropna()
h_df_years = h_df_years.reset_index()
h_df_years['Year'] = h_df_years['level_0']

h_df_years
# h_df = h_df['level_0'].dropna()
# h_df_years = h_df[(h_df['level_0'].str.startswith('19'))]
# h_df_years

    index  level_0      %     Year
0       1  1922–23  0.364  1922–23
1       2  1923–24  0.591  1923–24
2       3  1924–25  0.750  1924–25
3       4  1925–26  0.400  1925–26
4       5  1926–27  0.692      NaN
5       7  1927–28  0.192      NaN
6       8  1928–29  0.324      NaN
7       9  1929–30  0.619      NaN
8      10  1930–31  0.647      NaN
9      11  1931–32  0.588      NaN
10     12  1932–33  0.688      NaN
11     13  1933–34  0.625      NaN
12     14  1934–35  0.765      NaN
13     15  1935–36  0.438      NaN
14     16  1936–37  0.639      NaN
15     17  1937–38  0.684      NaN
16     18  1938–39  0.500      NaN
17     19  1939–40  0.275      NaN
18     20  1940–41  0.147      NaN
19     21  1941–42  0.167      NaN
20     22  1942–43  0.154      NaN
21     23  1943–44  0.625      NaN
22     25  1944–45  0.333      NaN
23     26  1945–46  0.700      NaN
24     27  1946–47  0.643      NaN
25     28  1947–48  0.891      NaN
26     30  1948–49  0.860      NaN
27     32  1949–50  0.852      NaN
28     34  1950–51  0.833      NaN
29     36  1951–52  0.846      NaN
..    ...      ...    ...      ...
68    111  1990–91  0.755      NaN
69    114  1991–92  0.761      NaN
70    117  1992–93  0.788      NaN
71    119  1993–94  0.817      NaN
72    122  1994–95  0.782      NaN
73    124  1995–96  0.814      NaN
74    127  1996–97  0.860      NaN
75    130  1997–98  0.750      NaN
76    134  1998–99  0.675      NaN
77    137  1999–00  0.707      NaN
78    139  2000–01  0.656      NaN
79    142  2001–02  0.693      NaN
80    145  2002–03  0.733      NaN
81    148  2003–04  0.651      NaN
82    151  2004–05  0.774      NaN
83    154  2005–06  0.573      NaN
84    157  2006–07  0.646      NaN
85    160  2007–08  0.814      NaN
86    163  2008–09  0.707      NaN
87    166  2009–10  0.589      NaN
88    170  2010–11  0.705      NaN
89    174  2011–12  0.634      NaN
90    177  2012–13  0.488      NaN
91    181  2013–14  0.571      NaN
92    182  2014–15  0.595      NaN
93    185  2015–16  0.724      NaN
94    187  2016–17  0.414      NaN
95    189  2017–18  0.588      NaN
96    192  2018–19  0.458      NaN
97    193  2019–20  0.556      NaN

[98 rows x 4 columns]