---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [46]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [47]:
pd.set_option('display.max_rows', 500)

def date_sorter():
    global df 
 
    pattern1 = '(?P<OriginalMatch>(?P<Month>\d?\d)[/|-](?P<Day>\d?\d)[/|-](?P<Year>\d{2,4}))'
    
    pattern2 =  '(?P<OriginalMatch>(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[\S]*[^a-zA-Z\d:](?P<Day>\d{1,2})[\S]*[^a-zA-Z\d:](?P<Year>\d{4}))'  

    pattern3 = '(?P<OriginalMatch>(?P<Day>\d{1,2})[+\s|-](?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[\S]*[\s|-](?P<Year>\d{4}))'

    pattern4 = '(?P<OriginalMatch>(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[\S]*[\s](?P<Day>\d{1,2})[\S]*[,][\s](?P<Year>\d{4}))'


    pattern5 = '(?P<OriginalMatch>[^\d{1,2}]?\S?(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[\S]*[\s|-](?P<Year>\d{4}))'
   

    pattern6 = '(?P<OriginalMatch>[\s|^/|\~|\.|\(|\|)|\d/]?(?P<Month>\d{1,2})/(?P<Year>\d{4}))'

    pattern7 = '(?P<OriginalMatch>(?<!/)[^/|\s|\~|\.|\(|\|)]?(?P<Year>[1|2]\d{3})(?!\d{1,2}/))'


#     df = pd.DataFrame(doc, columns=['text'])
    
    month_dictionary = {
        'Jan': 1,
        'Feb': 2,
        'Mar': 3,
        'Apr': 4,
        'May': 5,
        'Jun': 6,
        'Jul': 7,
        'Aug': 8,
        'Sep': 9,
        'Oct': 10,
        'Nov': 11,
        'Dec': 12
    }

    
    df_pattern1 = df.str.extract(pattern1)
    
    df_pattern1 = df_pattern1.dropna()
    
    pattern1_indexes = df_pattern1.index.values.tolist()

    df_pattern1["Year"] = df_pattern1['Year'].apply(lambda x: '19'+str(x) if len(x) == 2 else x)
    
    df_pattern1['Year'] = df_pattern1['Year'].apply(lambda x: int(x))

    df = df.drop(pattern1_indexes) 
    
    df_pattern1['Pattern'] = 'Pattern 1'
    
    
    df_pattern2 = df.str.extract(pattern2)
    
    df_pattern2 = df_pattern2.dropna()
    
    df_pattern2_indexes = df_pattern2.index.values.tolist()
    
    df_pattern2["Month"] = df_pattern2['Month'].apply(lambda x: month_dictionary[x])
    
    df_pattern2['Pattern'] = 'Pattern 2'
    
    df = df.drop(df_pattern2_indexes) 
    
    df_pattern3 = df.str.extract(pattern3)
    
    df_pattern3 = df_pattern3.dropna()
    
    df_pattern3["Month"] = df_pattern3['Month'].apply(lambda x: month_dictionary[x])
    
    df_pattern3_indexes = df_pattern3.index.values.tolist()
    
    df_pattern3['Pattern'] = 'Pattern 3'
    
    df = df.drop(df_pattern3_indexes) 
    
    df_pattern4 = df.str.extract(pattern4)
    
    df_pattern4 = df_pattern4.dropna()
    
    df_pattern4_indexes = df_pattern4.index.values.tolist()
    
    df_pattern4['Pattern'] = 'Pattern 4'
    
    df = df.drop(df_pattern4_indexes) 
    df_pattern5 = df.str.extract(pattern5)
    
    df_pattern5 = df_pattern5.dropna()
    
    df_pattern5["Month"] = df_pattern5['Month'].apply(lambda x: month_dictionary[x])
    
   
    df_pattern5['Day']  = 1
    
    df_pattern5_indexes = df_pattern5.index.values.tolist()
    
    df_pattern5['Pattern'] = 'Pattern 5'
    
    df = df.drop(df_pattern5_indexes) 
    df_pattern6 = df.str.extract(pattern6)
    
    df_pattern6["Month"] = df_pattern6['Month'].apply(lambda x: 10 if str(x) == '0' else x)
    
    
    df_pattern6 = df_pattern6.dropna()
    
    df_pattern6['Day']  = 1
    
    df_pattern6_indexes = df_pattern6.index.values.tolist()
    
    df_pattern6['Pattern'] = 'Pattern 6'
    
    df = df.drop(df_pattern6_indexes) 
    df_pattern7 = df.str.extract(pattern7)
    
    df_pattern7 = df_pattern7.dropna()
    
    df_pattern7['Day']  = 1
    df_pattern7['Month']  = 1
    df_pattern7_indexes = df_pattern7.index.values.tolist()
    df_pattern7['Pattern'] = 'Pattern 7'
    df = df.drop(df_pattern7_indexes) 
    
    
    
    combined_df = pd.concat([df_pattern1, df_pattern2, df_pattern3, df_pattern4,
                               df_pattern5, df_pattern6, df_pattern7], ignore_index=False, sort=True)
    
    combined_df['Month'] = combined_df['Month'].apply(lambda x: str(x))
    
    combined_df['Year'] = combined_df['Year'].apply(lambda x: str(x))
    
    combined_df['Day'] = combined_df['Day'].apply(lambda x: str(x))
    
    combined_df['FormatedDate'] = combined_df['Month'] + '/' + combined_df['Day'] + '/' + combined_df['Year']
    
    
    combined_df['Date'] = pd.to_datetime(combined_df['FormatedDate'])
    
#     combined_df['datetime'] = (pd.to_datetime(str(combined_df['Year']) + str(combined_df['Month']) + str(combined_df['Day']), format='%Y%B%d'))

    combined_df.sort_values(by='Date', inplace=True)
    
#     sorted_df = combined_df.sort_values(by=['Year', 'Month', 'Day'])
    combined_df = combined_df.reset_index()
    s = pd.to_numeric(combined_df.iloc[:,0])
    s = pd.Series(s)
 
    return s
date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     415
17     335
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
30     162
31     154
32     402
33      95
34      73
35     108
36     156
37     332
38     182
39      82
40     351
41     278
42     214
43     155
44     223
45     473
46     363
47      49
48     317
49      11
50     319
51      40
52     418
53     165
54     370
55     382
56       3
57      50
58     219
59     465
60     237
61      23
62     342
63     204
64     258
65     315
66      27
67      93
68      17
69     303
70     488
71     395
72     283
73     309
74     419
75     123
76      19
77     117
78     232
79      72
80     189
81     318
82     493
83     369
84     239
85     148
86     105
87     336
88       6
89     200
90      81
91      65
92     434
93     164
94     378
95     313
96     495
97     424
98     398
99       5
100    254
101    296
102     75
103    167
104     21
105    259
106    499
107    347
108    150
109     78
110    340
111    441
112    267
113    361
114    221
115    466
116    134
117     39
118    197
119    355
120    430
121     80
122    246
123    444
124     85
125    215
126    263
127     74
128    403
129    458
130    429
131     16
132     25
133    127
134    454
135     70
136     44
137     59
138    103
139    112
140     88
141    179
142    358
143    470
144    205
145    397
146    294
147    137
148    295
149     35
150    438
151    247
152    209
153     61
154    107
155    285
156    175
157     99
158    455
159     24
160    421
161    275
162     48
163    426
164    489
165    136
166     30
167    274
168     10
169    178
170      1
171    280
172    447
173    185
174    228
175    135
176     69
177    492
178    199
179    352
180      8
181    276
182    230
183    334
184     96
185     38
186    368
187    261
188    404
189    168
190     29
191    437
192    423
193     54
194    485
195    284
196     68
197     32
198    349
199     41
200     63
201    416
202     55
203    130
204    116
205     76
206    462
207    330
208     37
209    256
210    390
211    216
212    174
213    180
214    476
215    312
216    265
217    115
218     71
219    218
220    202
221    440
222    385
223    373
224    210
225     89
226    149
227     26
228      7
229    435
230    482
231    177
232    157
233    412
234     22
235    194
236     14
237    151
238    233
239    206
240    245
241    122
242     94
243    461
244    226
245     97
246     91
247     51
248     33
249    453
250     67
251     46
252    322
253     66
254    399
255    487
256    138
257     62
258    211
259     52
260    269
261    119
262    100
263    442
264    310
265    143
266    301
267    113
268    298
269    478
270    272
271    354
272      0
273    249
274    192
275     86
276    172
277    357
278    331
279    477
280    300
281    450
282    163
283    308
284    406
285    196
286     47
287    133
288    359
289     64
290     42
291    409
292    483
293    238
294    193
295    311
296    140
297    388
298     56
299    236
300    372
301    110
302    248
303     60
304    181
305    203
306    326
307     90
308    169
309    292
310    479
311    142
312      4
313    124
314    324
315    121
316    131
317    166
318    468
319    365
320    213
321     87
322    353
323    101
324    333
325    114
326    459
327     45
328    338
329     18
330    222
331    343
332     20
333    224
334     12
335     79
336    387
337    251
338    120
339    471
340     77
341    376
342    432
343    327
344    384
345    321
346    212
347    407
348    266
349    145
350    201
351    456
352    305
353    260
354    420
355    329
356    392
357    417
358    190
359    158
360    443
361     83
362    374
363    457
364    125
365    328
366    159
367    195
368    147
369    377
370    367
371    394
372    494
373    304
374    446
375     43
376    262
377    128
378    102
379    449
380    184
381    469
382    452
383    234
384    362
385    356
386    144
387    484
388    291
389    188
390    414
391     92
392    241
393    350
394    306
395    425
396    281
397    207
398    126
399    302
400    146
401    451
402    498
403    348
404    339
405    250
406    344
407    346
408    496
409    106
410    118
411    433
412    270
413    307
414    173
415    490
416    410
417    314
418    252
419    428
420    277
421    391
422    325
423    264
424    289
425    160
426    341
427    132
428    337
429    497
430    445
431    187
432    360
433    183
434    396
435    271
436    293
437    400
438    491
439    371
440    297
441    389
442    386
443    288
444    379
445    268
446    472
447    273
448    287
449    448
450    176
451    411
452    408
453    364
454    242
455     58
456    467
457    170
458     15
459    316
460    240
461    229
462    217
463    109
464    227
465    290
466    460
467    393
468    282
469     34
470    220
471    243
472    208
473    139
474    320
475    383
476    480
477    244
478    286
479    431
480    279
481    198
482    463
483    381
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    413
494    253
495    427
496    231
497    141
498    186
499    161
Name: index, dtype: int64

In [29]:
date_sorter()

TypeError: unsupported operand type(s) for +: 'int' and 'str'